<div>
	<section>
		<%= form_for @user do |f| %>
			<div>
				<%= f.label :username  %>
				<%= f.text_field :username  %>
			</div>
			<div>
				<%= f.label :password  %>
				<%= f.password_field :password  %>
			</div>
			<div>
				<%= f.label :email  %>
				<%= f.text_field :email  %>
			</div>
			<div>
				<%= f.label :full_name  %>
				<%= f.text_field :full_name  %>
			</div>

			<div>
				<%= f.label :age  %>
				<%= f.number_field :age  %>
			</div>

			<div>
				<%= f.label :gender  %>
				<%= f.text_field :gender  %>
			</div>

			<div>
				<%= f.label :looking_for  %>
				<%= f.text_area :looking_for  %>
			</div>

			<div>
				<%= f.label :bio  %>
				<%= f.text_area :bio  %>
			</div>

			<div>
				<%= f.file_field :image %>
			</div>


			<div>
				<%= f.submit "Submit", class: "btn btn-submit"  %>
			</div>
			<div>
				<%= link_to "Delete", :user, method: :delete, data: {confirm: "are you sure?"} %> 
			</div>
		<% end %>

	</section>

	<section>
		
	</section>
</div>