<div>
	<section>
		<h1>Welcome to <%= @user.username %>'s page, <% if logged_in? %><%= current_user.username %> <% end %></h1>
		<div>
			<%= link_to "Back", users_path %>
			<%= link_to "Edit", edit_user_path %>
		</div>
	</section>

	<section>
		<div>
			<%= @user.full_name  %>
		</div>
		<div>
			<%= @user.age  %>
		</div>
		<div>
			<%= @user.gender  %>
		</div>
		<div>
			<%= @user.looking_for  %>
		</div>
		<div>
			<%= @user.bio  %>
		</div>
		<div>
			<%= image_tag @user.image, class: "img-circle" %>
		</div>
	</section>

	<section>
	 	<h1>Wall</h1>
	 		<% @posts.each do |post|  %>
				<div>
					<p><%= post.body  %></p>
					
				</div>
				<!-- Delete link disabled due to route/controller error -->
				<%= link_to "Delete", delete_user_post_path(@user,post), method: :delete, data: { confirm: "Are you sure?"} %><!-- End link -->
				<%#= link_to "Update", :edit_user_post %>
			<% end %>

	</section>

	<section>
		<h1>Leave a post</h1>
		<%= form_for [@user, @post] do |f| %>
			<div>
				<%= f.label :body, "Post" %>
				<%= f.text_area :body  %>
			</div>
			

			<%= f.submit "Post"  %>
		<% end %>
	</section>
</div>