<div>
	<section>
		<h1>Welcome to <%= @user.username %>'s page, <%= current_user.username %> </h1>
		<div>
			<%= link_to "Back", users_path %>
			<%= link_to "Edit", edit_user_path %>
		</div>
	</section>

	<section>
		<div>
			<%= @user.full_name  %>
		</div>
		<div>
			<%= @user.age  %>
		</div>
		<div>
			<%= @user.gender  %>
		</div>
		<div>
			<%= @user.looking_for  %>
		</div>
		<div>
			<%= @user.bio  %>
		</div>
		<div>
			<%= image_tag @user.image %>
		</div>
	</section>

	<section>
	 	<h1>Wall</h1>
	 		<% @user.posts.each do |post|  %>
				<div>
					<p>User <%= post.body  %></p>
					<%= link_to "Delete post", :destroy_posts, method: :delete, data: { confirm: "Are you sure?"} %>
				</div>
			<% end %>
	</section>

	<section>
		<h1>Leave a post</h1>
		<%= form_for [@user, @post] do |f| %>
			<div>
				<%= f.label :body, "Post" %>
				<%= f.text_area :body  %>
			</div>
			

			<%= f.submit "Post"  %>
		<% end %>
	</section>
</div>